html,
body,
#root {
    margin: 0;
    padding: 0;
    background: #7b7b7b;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "stratum", sans-serif;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "stratum";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@Assets/font/stratum2medium.ttf) format("truetype");
}

@font-face {
    font-family: "stratum";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@Assets/font/stratum2regular.ttf) format("truetype");
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
    background: rgb(76 175 80);
}
