.input {
    border-radius: .2rem;
    background: transparent;
    outline: none;
    font-size: 1.15rem;
    padding: .35rem;
    color: #efefef;
    border: .1rem solid #b6b6b6;
    font-weight: 400;
    width: 100%;
}

.input::placeholder {
    color: #b6b6b6;
}

.textarea {
    resize: none;
    height: 100%;
    scrollbar-width: thin;
    max-width: 100%;
    width: 100%;
    background: transparent;
    border: none;
    cursor: auto;
    outline: none;
    color: white;
    font-size: 1.4rem;
}

.textarea::-webkit-scrollbar {
    width: 10px;
}

.textarea::-webkit-scrollbar-track {
    border-radius: 15rem;
    background: rgba(82, 82, 82, 0.5);
}

.textarea::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: #2e2e2e;
    background-clip: content-box;
    border: 3px solid transparent;
}

.textarea::-webkit-scrollbar-thumb:hover {
    background: #2e2e2e;
    background-clip: content-box;
    border: 1px solid transparent;
}
